absl-py
astor==0.8.1
astunparse==1.6.3
Brotli
certifi
charset-normalizer
contourpy
cycler
filelock
flatbuffers
fonttools
gast
gmpy2
google-pasta
grpcio
h5py
idna
importlib-metadata
importlib_resources
Jinja2
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib==3.9.2
mkl-service==2.4.0
mkl_fft
mkl_random
mpmath
networkx
numpy
opt-einsum
packaging
pillow
ply==3.11
protobuf==4.25.3
pyparsing
PyQt5==5.15.10
PyQt5-sip
PySocks
python-dateutil
PyYAML
requests
scipy
sip
six
sympy
tensorboard
tensorboard_data_server
tensorflow
tensorflow-estimator
termcolor
tomli
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tornado
tqdm
triton==3.0.0
typing_extensions
unicodedata2
urllib3
Werkzeug
wrapt
zipp